<header-component></header-component>

<div class="message">
  <span>join to purcharse a figther</span>
</div>

<div class="title">
  <h1>MARKETPLACE</h1>
</div>

<tabs-component [configParams]="configParams"></tabs-component>

<div class="search">
  <input type="text" placeholder="Search, name, atributes or tags">
  <img src="legends/assets/img/" alt="">
</div>


<div class="lists-cards">
  <card-component *ngFor="let item of cardsService;" [card]="item"></card-component>
</div>


<div class="pager">
  <span *ngFor="let item of totalPagination; let i = index" [attr.data-index]="i" [ngClass]="{'pager__active' : currentPage === (i+1)}"
    (click)="setCurrentPage(i+1)">{{i+1}}</span>
</div>




<footer-component></footer-component>