// INPUTS
.web-kit-input-label {
  &.web-kit-select {
    position: relative;
    select {
      appearance: none;
    }
    &:after {
      content: ""; // background: url("assets/img/expand_more.svg") no-repeat top center;
      width: 24px;
      background-size: contain;
      display: block;
      position: absolute;
      height: 24px;
      right: 0;
      bottom: 8px;
      margin-right: 8px;
      pointer-events: none;
    }
  }
}

.web-kit-input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    color: $font_color;
    transition: 0.25s ease-in-out;
  }
  &:focus-within label {
    // color: $bech_color;
  }
  input,
  select,
  textarea {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px $border_color;
    padding: 9px 16px;
    line-height: 20px;
    font-size: 1.000em;
    font-weight: 700;
    transition: 0.25s ease-in-out;
    &::placeholder {
      color: $font_color_light;
      font-weight: 400;
    }
    &:active {
      border: solid 1px $bech_color;
      color: $font_color;
    }
    &:focus {
      outline: 0;
      // border: solid 1px $bech_color;
      // color: $font_color;
    }
    &:focus+label {
      // color: #cc0000 !important;
    }
  }
  .info-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: $font_color_light;
  }
  .MsjeError {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: $red_color;
    font-weight: 600;
    &:empty {
      margin: 0;
    }
  }
}

input.ng-invalid.ng-dirty.ng-invalid.ng-touched {
  // border: solid 1px $red_color;
}

input:focus {
  outline:0px;
}

// RADIOS
.radio_list {
  display: flex;
  flex-direction: column;
  mat-radio-button {
    height: 48px;
    display: flex;
    align-items: center;
  }
}

// CHECKBOX
.checkbox_list {
  display: flex;
  flex-direction: column;
  mat-checkbox {
    height: 48px;
    display: flex;
    align-items: center;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}