$font-path: "web-kit/assets";
$bless: #44b6a6;
$green: #abc111;
$teal: #1bb3bc;
$teal-lt: #ddf4f5;
$yellow: #e59d27;
$grey-lt: #f0f0f0;
$grey: #c2c2c2;
$purple: #9e3667;
$dark-grey: #333;
$dark-grey-hover: #191919;
$color-button: #ff9100;
$color-button-blank: #ffffff;
$font-family: 'Nunito Sans';
// COLOR VARIABLES
$bech_color: #ff9100;
$font_color: #3a3f4a;
$font_color_light: #868c99;
$font_color_lighter: #a4aab6;
$bg_disable: #e1e4e7;
$border_disable: #d9dbe0;
$red-color: #D13C3C;
// 3e50b4
$accent_color: #3f51b5;
$accent_color_2: #7784ca;
$border-color: #a4aab6;