card-component {
  .container-card {
    cursor: pointer;
    &__background {
      img {
        width: 251px;
        height: 278px;
      }
    }

    &__best {
      position: absolute;
      margin-top: -202px;
      margin-left: 50px;
      img {
        height: 172px;
        width: 170px;
      }
    }

    &__gen {
      position: absolute;
      margin-top: -269px;
      margin-left: 130px;
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      span {
        font-size: 16px;
        font-weight: 300;
        margin: -3px;
      }
    }

    &__common {
      position: absolute;
      margin-top: -245px;
      margin-left: 181px;
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      span {
        font-size: 12px;
        font-weight: normal;
        position: absolute;
        margin: -5px 0px 0px 5px;
      }
    }

    &__element {
      position: absolute;
      margin-top: -200px;
      margin-left: 216px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      img {
        height: 30px;
        width: 25px;
      }

      span {
        margin: -5px 0px 0px 0px;
      }
    }

    &__likes {
      position: absolute;
      margin-top: -130px;
      margin-left: 216px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      img {
        height: 19px;
        width: 19px;
      }

      span {
        margin: 5px 0px 0px 0px;
      }
    }

    &__footer {
      display: flex;
      margin: -23px 0 0px 12px;
      color: #fff;
      font-weight: 100;
      &__name {
        flex: 1;
        font-size: 1.125em;
      }

      &__price{
        flex: 1;
        font-size: 1.125em;

        img {
          margin: 0px 0px 0px -15px;
          position: absolute;
        }
      }
    }
  }
}


/*
  color: #ffff;
  .container-card {
    cursor: pointer;
    width: 278px;
    &__content {
      &__single {
        &__element{
          position: absolute;
          margin-top: -157px;
          margin-left: 30px;
          img {
            height: 33px;
            width: 28px;
          }
        }

        &__picture {
          position: absolute;
          margin-top: -165px;
          margin-left: 75px;
          img {
            height: 147px;
            width: 120px;
          }
        }

        &__content-heart {
          position: absolute;
          margin-top: -150px;
          margin-left: 200px;
          display: flex;

          img {
            height: 19px;
            width: 19px;
          }

          span {
            margin: 2px 0 0 5px;
            font-size: 1em;
            font-weight: normal;
          }
        }
        &__background {
          img {
            height: 175px;
          }
        }

        &__footer {
          display: flex;
          margin-top: 10px;

          &__name {
            flex: 1;
            font-size:  1.5625em;
            font-weight: normal;
            margin: -4px 0px 0 13px;
          }

          &__price{
            flex: 0.6;
            font-size: 1.125em;

            img {
              margin: 0px 0px 0px -15px;
              position: absolute;
            }
          }
        }
      }
    }
  }
*/