<div class="container-card" [routerLink]="['/detail-market', card.external_id]">
  <div class="container-card__background ">
    <img src="cross/assets/img/marco_card.png " [alt]="card.name">
  </div>

  <div class="container-card__best">
    <img [src]="card.image_url" [alt]="card.name">
  </div>

  <div class="container-card__gen">
    {{card.generation}}
    <span>Gen</span>
  </div>

  <div class="container-card__common">
    C
    <span>Common</span>
  </div>

  <div class="container-card__element">
    <elements-component [idElement]="card.element"></elements-component>
    <span>{{nameElement}}</span>
  </div>

  <div class="container-card__likes">
    <img src="cross/assets/img/heart.png" alt="Marco Card">
    <span>{{card.likes}}</span>
  </div>

  <div class="container-card__footer">
    <span class="container-card__footer__name">{{card.name}}</span>
    <span class="container-card__footer__price">{{eth}} / US ${{usd}}</span>
  </div>
</div>