<div class="container-card">
  <div class="container-card__content">
    <!--<div class="container-card__content__single">
      <div class="container-card__content__single__background">
        <img src="cross/assets/img/marco_card_single.png" alt="Marco Card">
      </div>

      <div class="container-card__content__single__element">
        <img src="cross/assets/img/icn_element.png" alt="Marco Card">
      </div>
      <div class="container-card__content__single__picture">
        <img src="cross/assets/img/unicornio.png" alt="Marco Card">
      </div>



      <div class="container-card__content__single__content-heart">
        <img src="cross/assets/img/heart.png" alt="Marco Card">
        <span>4579</span>
      </div>

      <div class="container-card__content__single__footer">
        <span class="container-card__content__single__footer__name">GODZILA</span>
        <div class="container-card__content__single__footer__price">
          <img src="cross/assets/img/icn_ethereum.svg" alt="Marco Card">
          <span>0.02</span>
          <span> / US $25</span>
        </div>
      </div>
    </div>-->
    <div [innerHtml]="card.card | safehtml">
    </div>
  </div>


</div>