<div class="container-card">
  <div class="container-card__content">
    <div class="container-card__content__single">
      <div class="container-card__content__single__background">
        <img src="cross/assets/img/marco_card_single.png" alt="Marco Card">
      </div>

      <div class="container-card__content__single__element">
        <img src="cross/assets/img/icn_element.png" alt="Marco Card">
      </div>
      <div class="container-card__content__single__picture">
        <img [src]="card.image_url" alt="Marco Card">
      </div>



      <div class="container-card__content__single__content-heart">
        <img src="cross/assets/img/heart.png" alt="Marco Card">
        <span>{{card.likes}}</span>
      </div>

      <div class="container-card__content__single__footer">
        <span class="container-card__content__single__footer__name">{{card.name}}</span>
        <div class="container-card__content__single__footer__price">
          <img src="cross/assets/img/icn_ethereum.svg" alt="Marco Card">
          <span>{{eth}}</span>
          <span> / US ${{usd}}</span>
        </div>
      </div>
    </div>
  </div>


</div>