<footer class="footer">
  <div class="footer__menu">
    <div class="footer__menu__content">
      <span class="footer__menu__content__title">ABOUT</span>

      <div class="footer__menu__content__options footer__menu__content__first">
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
      </div>

      <div class="footer__menu__content__options">
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
      </div>
    </div>
  </div>

  <div class="footer__menu">
    <div class="footer__menu__content">
      <span class="footer__menu__content__title">ABOUT</span>

      <div class="footer__menu__content__options footer__menu__content__first">
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
      </div>

      <div class="footer__menu__content__options">
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
      </div>
    </div>
  </div>
  <div class="footer__menu">
    <div class="footer__menu__content">
      <span class="footer__menu__content__title">ABOUT</span>

      <div class="footer__menu__content__options footer__menu__content__first">
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
      </div>

      <div class="footer__menu__content__options">
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
      </div>
    </div>
  </div>
</footer>