home-component {
  .container-vault {
    padding: 20px;
  }
  .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px 25px 0;
    width: 100%;
    img {
      width: 164px;
      height: 100px;
    }
  }
  .title {
    h1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 2.4375em;
      font-weight: bold;
      color: #4cd964;
    }
  }
  .balance_content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .balance {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #ffffff;
    width: 620px;
    height: 370px;
    &__title {
      h2 {
        font-size: 1.25em;
        color: #4cd964;
        font-weight: normal;
      }
    }
    &__diamond {
      color: #424242;
      font-size: 2.4375em;
    }
    &__pesos {
      font-size: 1em;
      color: #424242;
      height: 26px;
    }
    &__line {
      width: 92%;
      border-top: solid 1px #979797;
    }
    &__cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 9px 2px 45px 0;
      width: 100%;
      color: #ffffff;
      &__contract_one {
        background-image: linear-gradient(123deg, #3023ae, #c86dd7);
      }
      &__contract_two {
        background-image: linear-gradient(123deg, #ff5f6d, #ffc371);
      }
      &__active {
        width: 220px;
        height: 142px;
        margin: 8px;
        border-radius: 9px;
        font-size: 0.875em;
        -webkit-transition: all .3s ease-in-out;
        box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.5);
        cursor: pointer;
        h3 {
          font-size: 1em;
          font-weight: normal;
        }
        button {
          width: 90px;
          height: 26px;
          border-radius: 3px;
          border: solid 1px #ffffff;
          background: none;
          color: #ffffff;
        }
        button:hover {
          background-color: rgba(0, 0, 0, .3);
          cursor: pointer;
        }
      }
      &__inactive {
        width: 176px;
        height: 113px;
        margin: 8px;
        border-radius: 7.2px;
        font-size: 0.8em;
        box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.5);
        -webkit-transition: all .3s ease-in-out;
        h3 {
          font-size: 0.8em;
          font-weight: normal;
        }
        button {
          width: 72px;
          height: 20.8px;
          border-radius: 2.4px;
          border: solid 0.8px #ffffff;
          background: none;
          color: #ffffff;
          -webkit-transition: all .3s ease-in-out;
        }
        &__ether {
          img {
            width: 8px;
            height: 12px;
            margin: 0px 2px -2px 0px;
          }
        }
      }
      &__content {
        display: flex;
        flex-direction: row;
        &__left {
          flex: 2;
          padding-left: 10px;
          &__pesos {
            font-weight: 100;
            padding: 0 0 17px 5px;
          }
          &__ether {
            img {
              margin: 0px 3px -3px 0px;
            }
          }
        }
        &__right {
          flex: 1;
          text-align: center;
          padding-top: 17px;
        }
      }
    }
    &__history {
      width: 100%;
      &__title {
        font-size: 20px;
        color: #424242;
        padding: 0px 0px 10px 20px;
        margin: 0;
      }
      &__table {
        padding: 0px 20px 20px 20px
      }
    }
  }
}