<div class="container-vault">
  <div class="logo">
    <img src="legends/assets/unicorns-dinosaurs.png" alt="Unicorns V/S Dinosaurs">
  </div>

  <div class="title">
    <h1>Rumble Wallet</h1>
  </div>

  <div class="balance_content">
    <div class="balance">
      <div class="balance__title">
        <h2>Balance Total</h2>
      </div>

      <div class="balance__diamond">
        <img src="legends/assets/ether-icn.svg" alt="Ether"> {{sumContacts.balanceEther}}
      </div>

      <div class="balance__pesos">
        CLP ${{sumContacts.balanceCLP | formatAmount}}
      </div>

      <div class="balance__line"></div>

      <div class="balance__cards">
        <div class="balance__cards__contract_one" [ngClass]="{'balance__cards__active': activeContract==='firstContract', 'balance__cards__inactive': activeContract!=='firstContract'}"
          (mouseover)="activeContract='firstContract'" (mouseout)="activeContract=''">
          <div class="balance__cards__content">
            <div class="balance__cards__content__left">
              <h3>Primer contrato</h3>
              <div class="balance__cards__content__left__ether">
                <img src="legends/assets/ether-icn-card.svg" alt="Ether"> {{contract.balanceEther}}
              </div>
              <div class="balance__cards__content__left__pesos">CLP ${{contract.balanceCLP | formatAmount}}</div>
              <button type="button" (click)="claim(1)">Retirar</button>
            </div>
            <div class="balance__cards__content__right">
              <img src="legends/assets/icono-rumble-legends.png" alt="Rumble Legends">
            </div>
          </div>
        </div>

        <div class="balance__cards__contract_two" [ngClass]="{'balance__cards__active': activeContract==='secondContract', 'balance__cards__inactive': activeContract!=='secondContract'}"
          (mouseover)="activeContract='secondContract'" (mouseout)="activeContract=''">
          <div class="balance__cards__content">
            <div class="balance__cards__content__left">
              <h3>Segundo contrato</h3>
              <div class="balance__cards__inactive__ether">
                <img src="legends/assets/ether-icn-card.svg" alt="Ether"> {{contract2.balanceEther}}
              </div>
              <div class="balance__cards__content__left__pesos">CLP ${{contract2.balanceCLP | formatAmount}}</div>
              <button type="button" (click)="claim(2)">Retirar</button>
            </div>
            <div class="balance__cards__content__right">
              <img src="legends/assets/icono-rumble-legends.png" alt="Rumble Legends">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
      Esta tabla solo falta retocar algo de diseño
    <div class="balance__history">
      <h3 class="balance__history__title">Historial</h3>

      <div class="balance__history__table">
        <div class="table">
          <div class="table__body">
            <div class="table__body__content"> Tilo </div>
            <div class="table__body__content"> Ttulo </div>
            <div class="table__body__content"> itulo </div>
            <div class="table__body__content"> ulo </div>
          </div>

          <div class="table__body">
            <div class="table__body__content"> Tilo </div>
            <div class="table__body__content"> Ttulo </div>
            <div class="table__body__content"> itulo </div>
            <div class="table__body__content"> ulo </div>
          </div>

          <div class="table__body">
            <div class="table__body__content"> Tilo </div>
            <div class="table__body__content"> Ttulo </div>
            <div class="table__body__content"> itulo </div>
            <div class="table__body__content"> ulo </div>
          </div>

          <div class="table__body">
            <div class="table__body__content"> Tilo </div>
            <div class="table__body__content"> Ttulo </div>
            <div class="table__body__content"> itulo </div>
            <div class="table__body__content"> ulo </div>
          </div>
        </div>
      </div>
    </div>
-->
  </div>
</div>