<div class="title-avatar">
  <div class="title-avatar__title-left">
    <h1>GOZILA</h1>
  </div>
  <div class="title-avatar__title-right">
    <h2>Pikachu</h2>
    <span>Owner</span>
  </div>
</div>

<div class="line-top">
  <img src="cross/assets/img/linea-superior.png" alt="">
</div>

<div class="backgoframe">
  <div class="frame">
    <div class="frame__element">
      <div>
        <img src="cross/assets/img/icn_element.png" alt="">
      </div>
      <span>Fire</span>
    </div>

    <div class="frame__picture">
      <div class="frame__picture__animal">
        <img src="https://image-generator-beta.herokuapp.com/dinosaur/445100920694687959076" alt="">
      </div>
      <div class="frame__picture__efect">
        <img src="cross/assets/img/efect-picture.png" alt="Efect Picture">
      </div>

      <div class="frame__picture__description-square">
        <div class="frame__picture__description-square__box">
          <img src="cross/assets/img/detail-square.svg" alt="">

          <div class="frame__picture__description-square__box__title">
            <span class="frame__picture__description-square__box__title__value">0</span>
            <span class="frame__picture__description-square__box__title__name">Gen</span>
          </div>

        </div>

        <div class="frame__picture__description-square__box">
          <img src="cross/assets/img/detail-square.svg" alt="">

          <div class="frame__picture__description-square__box__title">
            <span class="frame__picture__description-square__box__title__value">0</span>
            <span class="frame__picture__description-square__box__title__name">Gen</span>
          </div>

        </div>

        <div class="frame__picture__description-square__box">
          <img src="cross/assets/img/detail-square.svg" alt="">

          <div class="frame__picture__description-square__box__title">
            <span class="frame__picture__description-square__box__title__value">0</span>
            <span class="frame__picture__description-square__box__title__name">Gen</span>
          </div>

        </div>

        <div class="frame__picture__description-square__box">
          <img src="cross/assets/img/detail-square.svg" alt="">

          <div class="frame__picture__description-square__box__title">
            <span class="frame__picture__description-square__box__title__value">0</span>
            <span class="frame__picture__description-square__box__title__name">Gen</span>
          </div>

        </div>
      </div>
    </div>

    <div class="frame__heart">
      <div class="frame__heart__content-picture">
        <img src="cross/assets/img/heart.png" alt="">
      </div>
      <span>4759</span>
    </div>
  </div>
</div>

<div class="line-top">
  <img src="cross/assets/img/linea-inferior.png" alt="">
</div>