<div class="title-avatar">
  <div class="title-avatar__title-left">
    <h1>{{detail.name}}</h1>
  </div>
  <div class="title-avatar__title-right">
    <!--<h2>Pikachu</h2>
    <span>Owner</span>-->
  </div>
</div>

<div class="line-top">
  <img src="cross/assets/img/linea-superior.png" alt="">
</div>

<div class="background-frame">
  <div class="frame">
    <div class="frame__element">
      <div *ngIf="detail.element>-1">
        <elements-component [idElement]="detail.element"></elements-component>
      </div>
      <span>{{nameElement}}</span>
    </div>

    <div class="frame__picture">
      <div class="frame__picture__animal">
        <img *ngIf="detail.image_url" [src]="detail.image_url" [alt]="detail.name">
      </div>
      <div class="frame__picture__efect">
        <img src="cross/assets/img/efect-picture.png" alt="Efect Picture">
      </div>

    </div>

    <div class="frame__heart">
      <div class="frame__heart__content-picture">
        <img src="cross/assets/img/heart.png" alt="">
      </div>
      <span>{{detail.likes}}</span>
    </div>
  </div>

  <div class="frame__picture__description-square">
    <div class="frame__picture__description-square__box">
      <img src="cross/assets/img/detail-square.svg" alt="">

      <div class="frame__picture__description-square__box__title">
        <span class="frame__picture__description-square__box__title__value">0</span>
        <span class="frame__picture__description-square__box__title__name">Gen</span>
      </div>

    </div>

    <div class="frame__picture__description-square__box">
      <img src="cross/assets/img/detail-square.svg" alt="">

      <div class="frame__picture__description-square__box__title">
        <span class="frame__picture__description-square__box__title__value">{{detail.pedigree}}</span>
        <span class="frame__picture__description-square__box__title__name">Pedigree</span>
      </div>

    </div>

    <div class="frame__picture__description-square__box">
      <img src="cross/assets/img/detail-square.svg" alt="">

      <div class="frame__picture__description-square__box__title">
        <span class="frame__picture__description-square__box__title__value">0</span>
        <span class="frame__picture__description-square__box__title__name">Cooldown</span>
      </div>

    </div>

    <div class="frame__picture__description-square__box">
      <img src="cross/assets/img/detail-square.svg" alt="">

      <div class="frame__picture__description-square__box__title">
        <span class="frame__picture__description-square__box__title__value">0</span>
        <span class="frame__picture__description-square__box__title__name">Skill</span>
      </div>

    </div>
  </div>
</div>

<div class="line-top">
  <img src="cross/assets/img/linea-inferior.png" alt="">
</div>


<div class="current_price">

  <div class="current_price__left">
    <div class="current_price__left__content">
      <h3>Actual Price: </h3>
      <img src="cross/assets/img/icn_ethereum.svg" alt="Marco Card">
      <span>{{eth}} / US ${{usd}}</span>
    </div>

  </div>

  <div class="current_price__right">
    <buttons-component name='BUY NOW' [callback]="buyNow"></buttons-component>
  </div>
</div>

<div class="parents" *ngIf="detail.sire">
  <div class="parents__title">
    <h3>Parents</h3>
    <div class="parents__title__line"></div>
  </div>

  <div class="parents__content">
    <div class="parents__content__card" *ngIf="detail.sire.id">
      <card-component [card]="detail.sire"></card-component>
    </div>
    <div class="parents__content__card" *ngIf="detail.matron.id">
      <card-component [card]="detail.matron"></card-component>
    </div>
  </div>
</div>
<!--
<div class="graphic">
  <div class="graphic__content">
    <div>Time left: 47:00</div>
    <div class="graphic__content__line"></div>
    <div>
      <div>STARTED AT: <img src="cross/assets/img/icn_ethereum.svg" alt="Marco Card"> 0.01</div>
      <div>PRICE GOES TO: <img src="cross/assets/img/icn_ethereum.svg" alt="Marco Card"> 0.2</div>
    </div>
  </div>
</div>-->