avatar-component {
  .title-avatar {
    display: flex;
    padding: 0 30px 0 30px;
    &__title-left{
      h1 {
        color: #FFFFFF;
        font-size: 2em;
      }
      flex: 1;
    }

    &__title-right {
      display: flex;
      flex-direction: column;
      color: #FFFFFF;
      font-style: normal;
      font-weight: normal;
      h2 {
        font-size: 1em;
        padding-top: 11px;
      }
      span {
        font-size: 0.875em;
        margin-top: -11px;
      }
    }
  }

  .line-top {
    width: 100%;
    img {
      width: 100%;
      height: 20px;
    }
  }

  .background-frame {
    background-image: url("cross/assets/img/background_detail_market.png");
    z-index: -2;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .frame {
    display: flex;
    &__picture {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &__animal {
        z-index: 2;

        @media (min-width: 400px) {
          img {
            width: 354px;
          }
        }

        @media (min-width: 320px) and (max-width: 399px) {
          img {
            width: 200px;
          }
        }
      }

      &__efect {
        z-index: 1;
        margin: -337px 66px -41px 32px;
        display: none;
      }

      &__description-square {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &__box {
          margin: 10px;
          &__title {
            position: absolute;
            display: flex;
            flex-direction: column;
            margin: -63px 0 0 25px;

            &__value{
              font-size: 1.875em;
            }

            &__name{
              font-size: 1.098125em
            }
          }
        }

      }
    }

    &__element, &__heart {
      flex: 1;
      text-align: center;
      padding-top: 26px;
      color: #FFFFFF;
      font-style: normal;
      font-weight: normal;
      font-size: 1.875em;
    }

    &__element {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    &__heart {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      &__content-picture {
        padding-right: 7px;
      }
      span {
        padding-top: 5px;
      }
    }
  }

  .current_price {
    display: flex;
    color: #FFFFFF;

    &__right, &__left {
      text-align: center;
      flex: 1;

      h3, span {
        font-size: 1.875em;
        font-weight: 200;
      }
    }

    &__left__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        margin: 0 4px 0 16px;
        width: 16px;
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      button {
        position: absolute;
        border: none;
        background: transparent;
        height: 46px;
        width: 255px;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 1.25em;
        font-weight: bold;
      }
    }
  }

  .graphic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #FFFFFF;
    &__content {
      width: 600px;
      height: 150px;

      &__line {
        font-size: 1.5625em;
        width: 100%;
        height: 100%;
        background: #97A2FF;
      }
    }
  }

  .parents{
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 60px;

    &__title {
      width: 100%;
      h3 {
        font-size: 1.875em;
        color: #4CD964;
        font-weight: normal;
      }
      &__line {
        border: 1px solid #FFFFFF;
        margin-top: -10px;
      }
    }

    &__content {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;

      &__card {
        flex: 1;
        display: flex;
        justify-content: center;
      }
    }

    /*



    &__content {
      flex: 1;
      border: 1px solid red;

    }*/

    &__title {

    }
  }
}